*{
    list-style: none !important;
}
body{
    background: #8A2387; 
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387); 
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}
.carousel{
    margin-top: 7rem !important;
}
.image__slider{
    width: 80%;
    display: block;
    margin: auto;
}
.row{
    color: rgb(216, 216, 216) !important;
}

.btn-primary{
    border-radius: 2rem;
    background: none !important;
    border: solid 1px #fff !important;
    margin: auto !important;
}
.card i{
    color: rgba(255, 255, 255, 0.582);
    transition: all 500ms;
}
.card i:hover{
    color: #fff;
}
.btn-primary:hover{
    background: #fff !important;
    color: #000 !important;
    border: none !important;
}
.carousel a{
    background: none !important;
    color: #fff;
    border-radius: 2rem;
    border: solid 1px #fff;
    transform: all 500ms;
}

.all__button{
    width: 80% !important;
    display: block !important;
}


/* cards */

.card{
    color: #fff !important;
    background: rgba(243, 243, 243, 0.212) !important;
    box-shadow: 2px 5px 15px 5px rgba(218, 218, 218, 0.164);
    transition: all 500ms;
}
.card:hover{
    transform: scale(1.02);
}
.card img{
    display: block;
    margin: 2rem auto;
    width: 250px;
    height: 250px;
}
.btn-danger{
    background: none !important;
    display: block;
    margin: auto;
    border: solid 2.5px rgb(255, 96, 96) !important;
}
.btn-danger:hover{
    background: rgb(255, 96, 96) !important;
}


/* alerts */

.alert{
    position: absolute;
    right: 0;
    top: 9%;
    background: rgba(119, 139, 255, 0.37) !important;
    color: #fff !important;
    box-shadow: 2px 5px 15px 5px rgba(149, 164, 214, 0.164);
    border: none !important;
    transition: all 900ms;
}
