<div class="card">
    <div class="card-header">
        <h1>CRUD WITH NODEJS</h1>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rem eveniet! Aliquam nam excepturi reiciendis.</p>
        <a href="/product" class="btn btn-primary">Start Now</a>
    </div>
</div>