
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <img src="https://cdn.pixabay.com/photo/2019/10/09/07/28/development-4536630_960_720.png" class="d-block image__slider" alt="...">
            </div>
            <div class="col-md-4">
                <h1>Go Application</h1>
                <p>The best web page when me can practice CRUD, this is an application made with NodeJS, it has crud with some changues but everything is function ok here</p>
                <a href="/product" class="btn btn-primary">Test the Application</a>
            </div>
        </div>
      
    </div>
    <div class="carousel-item">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <img src="https://seorentable.com/wp-content/uploads/2018/12/dise%C3%B1owebagencia.png" class="d-block image__slider" alt="...">
            </div>
            <div class="col-md-4">
                <h1>About Me</h1>
                <p>I have another applications like portafolios, some test, React, Angular, CRUD with another languaje.</p>
                <a href="https://github.com/yeridi" class="btn btn-primary">Go to my GitHub</a>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <img src="https://falud.com.ar/wp-content/uploads/2020/10/diseno-web.png" class="d-block image__slider" alt="...">
            </div>
            <div class="col-md-4">
                <h1>Go Application</h1>
                <p>The best web page when me can practice CRUD, this is an application made with NodeJS, it has crud with some changues but everything is function ok here</p>
                <a href="" class="btn btn-primary">Test the Application</a>
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>